nav {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    background-color: rgb(7, 42, 117);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin-bottom: 1000px;
    padding-left: 5%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    height: 100%;
    width: 100%;
}

nav h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.logo a {
    text-decoration: none;
}