.spinner-container {
    height: 100%;
    width: 100%;
    margin-top: calc(64px - 2% + 20px);
}

.user-list {
    margin-top: calc(64px - 2% + 10px);
    font-size: 20px;
    width: 100%;
}

.user-list-item {
    padding: 5px;
}

.user-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0; 
    margin: 0; 
  }
  
  .user-list-item {
    width: calc(20% - 10px);
    margin: 5px;
  }

@media screen and (max-width: 1200px) {
    .user-list-item {
      width: calc(25% - 10px);
    }
  }
  
  @media screen and (max-width: 992px) {
    .user-list-item {
      width: calc(33.33% - 10px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .user-list-item {
      width: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .user-list-item {
      width: calc(100% - 10px);
    }
    .user-list {
        width: 80%;
        margin: calc(64px - 2% + 10px) auto 0 auto;
    }
  }